<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script defer src="./index.js"></script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9l-UBKArSeefeuMjMtp7M0oGO-8Fw8AI&callback=initMap">
    </script>


    <title>메인페이지</title>

    <style>
        .mybtn {

        }

        .mybtn > button {
            margin: 10px;
            width: 150px;
            height: 60px;
        }


        .review {

        }

        .review > button {
            margin-top: 10px;
            width: 300px;
        }

        .supported {
            width: 300px;
            border: 1px solid #e3e3e3;
            padding: 5px;
            font-family: Arial;
            font-size: 0.9em;
            line-height: 160%;
        }
    </style>
    <script>
        // 위치확인
        function locationTest() {
            navigator.geolocation.getCurrentPosition(handleLocation, handleError);
        }

        window.initMap = function () {
            const map = new google.maps.Map(document.getElementById("map"), {
                center: {lat: 37.5400456, lng: 126.9921017},
                zoom: 10,
            });
            //공중화장실 api 정보 가져오기
            $.ajax({
                type: "GET",
                url: "http://openapi.seoul.go.kr:8088/745369696e77776a333761794d6879/json/SearchPublicToiletPOIService/1/100/",
                data: {},
                success: function (response) {
                    let rows = response['SearchPublicToiletPOIService']['row']
                    let name
                    let latitude
                    let longitude
                    let toilet = []
                    var arr = [];
                    for (let i = 0; i < rows.length; i++) {
                        name = rows[i]['FNAME']
                        latitude = rows[i]['Y_WGS84']
                        longitude = rows[i]['X_WGS84']
                        toilet = [{name: name, lat: latitude, lng: longitude}]
                        arr[i] = toilet
                    }
                    console.log(arr)

                }
            })
        };
        // // 위치콜백
        // function handleLocation(position) {
        //     var outDiv = document.getElementById("result");
        //     // 좌표보기
        //     var posStr = "latitude : " + position.coords.latitude + "<br/>";
        //     posStr += "longitude : " + position.coords.longitude;
        //     outDiv.innerHTML = posStr;
        //     // 위치정보 만들고
        //     var latlng = new google.maps.LatLng(position.coords.latitude,
        //         position.coords.longitude);
        //     // 지도 옵션
        //     var mapOption = {
        //         zoom: 13,
        //         center: latlng,
        //         mapTypeControl: false,
        //         mapTypeId: google.maps.MapTypeId.ROADMAP
        //     };
        //     // 지도만들고
        //     var map = new google.maps.Map(
        //         document.getElementById("mapCanvas"), mapOption);
        //     // 위치표시
        //     new google.maps.Marker({label: "me", position: latlng, map: map, title: "here!!"});
        // }



        // 에러콜백
        function handleError(err) {
            var outDiv = document.getElementById("result");
            if (err.code == 1) {
                outDiv.innerHTML = "사용자가 위치정보 공유를 거부함";
            } else {
                outDiv.innerHTML = "에러발생 : " + err.code;
            }
        }

    </script>
</head>
<body onload="javascript:locationTest();">
    <div class="mybtn">
        <button>화장실</button>
        <button>맛집</button>
        <button>기타</button>
    </div>

    <button onclick="surch"> 현재위치 조회</button>

    <div id="result" class="supported">
    </div>

    <div id="map" style="height: 600px;"></div>


    <div class>
        <p>화장실</p>
        <li>이태원역 화장실</li>
        <li>한남역 화장실</li>
    </div>

    <div class="review">
        <button>리뷰</button>
    </div>
</body>